<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% games.forEach(game => { %>
        
        <h1> <%= game.name %></h1>
        <h1> <%= game.developers %></h1>
        <h1> <%= game.cost %></h1>
        <h1> <%= game.genre %></h1>
        <img src="<%= game.image %>">

    <% }) %>
</body>
</html>
